<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="drag-column">
        <ul style="margin:0;padding:0">
          <div *ngFor="let attr of attributes"
            class="attribute-card-container"
            pDraggable="attr"
            (onDragStart)="dragStart($event,attr)"
            (onDragEnd)="dragEnd($event)">
            <p-card>
              {{ attr }}
            </p-card>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-md-6 drop-column" pDroppable="attr" (onDrop)="drop($event)">
        <div *ngFor="let attr of selectedAttributes"
          class="attribute-card-container"
          pDraggable="attr"
          (onDragStart)="dragStart($event,car)"
          (onDragEnd)="dragEnd($event)">
          <p-card>
            {{ attr }}
          </p-card>
        </div>
    </div>
  </div>

</div>
