<div class="main-container">
  <header>
    <a class="logo">
      <span class="logo-text">Group Name</span>
    </a>
  </header>
  <div class="content">
    <p>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam mauris, eu hendrerit nisi pellentesque in. Integer odio justo, ultricies ut ligula dignissim, consequat sodales sapien. Praesent a sapien vitae tellus iaculis ullamcorper. Vestibulum non finibus mauris. Proin posuere eget augue ut vestibulum. Duis ut pellentesque enim. Nam vel odio ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam sollicitudin nunc dolor, sit amet tincidunt odio placerat non.

Donec cursus molestie arcu eu bibendum. Nunc blandit, enim ac aliquet suscipit, sem tortor lobortis orci, scelerisque aliquet dui libero quis ante. Quisque arcu ligula, vehicula nec nibh et, rutrum mattis arcu. Fusce ornare arcu mollis consequat scelerisque. Aliquam pretium massa in leo mollis elementum. Curabitur eget pellentesque dolor. Quisque nec nibh in nunc laoreet suscipit. Morbi id purus nec tortor mattis congue. Donec dignissim lorem eget velit rutrum vestibulum. Cras ex massa, bibendum sed nisi in, ultricies pretium lacus. Nunc interdum, lacus a lobortis pretium, velit augue pulvinar magna, vel pretium massa ligula et dolor. Aenean ipsum enim, egestas id magna vel, accumsan maximus justo.

Curabitur ut fringilla ex, ac dignissim leo. Pellentesque id augue lacus. Duis dictum, odio ut laoreet ultrices, risus mi pharetra nulla, nec scelerisque felis nulla nec tortor. Aenean ut velit ligula. Vivamus pellentesque maximus mi, id sodales lectus convallis quis. Vestibulum rhoncus eu justo ut molestie. Nunc lobortis mauris ac auctor placerat. Suspendisse ullamcorper, libero varius auctor tempor, sem libero laoreet libero, sed bibendum augue mi id purus. Vestibulum id dolor sodales lorem efficitur lacinia eu quis neque. Quisque tempor est nec interdum sodales. Nam eleifend tristique consequat. Maecenas vel quam iaculis, efficitur nisi et, ullamcorper diam. Sed malesuada, sem vitae euismod egestas, mauris diam imperdiet diam, a semper magna dui vitae quam.

Nam convallis, quam at ornare placerat, est leo cursus odio, egestas ornare leo justo id nulla. Mauris at ipsum eu lectus porttitor tincidunt et sed arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nibh, sollicitudin id diam in, luctus elementum nibh. Phasellus tempor mauris sed ante efficitur porta. Mauris at mauris pretium, convallis sem maximus, interdum nulla. Pellentesque volutpat feugiat orci, vitae porta massa maximus quis. Vestibulum maximus dui quis erat elementum, in suscipit mi dignissim. Aliquam venenatis viverra ligula non sagittis. Aliquam vitae pulvinar sem.

Sed tincidunt augue sit amet erat sollicitudin accumsan. Sed tincidunt dolor ipsum. Duis placerat interdum metus, eu luctus orci. Pellentesque eget facilisis diam. Sed rhoncus non justo sed pretium. Etiam in elementum turpis. Ut ac dictum diam. Proin interdum rhoncus elit ut porttitor. Maecenas in turpis eget sapien iaculis facilisis. Duis tempus tortor in ante pretium faucibus.
    </p>


    <drag-drop></drag-drop>
  </div>
</div>


