:host ::ng-deep {
  // p-card
  .attribute-card-container {
    .ui-card {
      //background-color: #4dab23;
      font-size: 25px;
      position: relative;
      border: white 1px solid;
      text-align: center;
      background-color: transparent;
      color: white;
    }

    .ui-card-body {
      padding: 15px 1em;
    }
  }

  .player-card {
    padding: 5px;
    .ui-card {

    }
    .player-icon {
      font-size: 5em;
    }
  }

}

.drag-column {
  border: 1px white solid;
  padding: 20px;
}

.attribute-card-container {
  padding: 20px 5px;
}

.order-btns {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
}

.player-list {
}

.button-row {

  margin-top: 20px;
  text-align: center;
  .find-button {
    padding: 5px 80px;
    font-size: 30px;
  }

}
