<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="drag-column">
        <ul style="margin:0;padding:0">
          <div *ngFor="let attr of attributes"
            class="attribute-card-container"
            pDraggable="attr"
            (onDragStart)="dragStart($event,attr)"
            (onDragEnd)="dragEnd($event)">
            <p-card>
              {{ attr }}
              <div class="order-btns">
                <button pButton type="button" label="/\" class="ui-button-raised ui-button-secondary" (click)="reorder(attr,-1)"></button>
                <button pButton type="button" label="\/" class="ui-button-raised ui-button-secondary" (click)="reorder(attr,1)"></button>
              </div>
            </p-card>
          </div>
        </ul>
      </div>

      <div class="button-row">
        <button pButton type="button" label="Find" class="ui-button-raised ui-button-success find-button" (click)="find()"></button>

      </div>
    </div>
    <div class="col-6">
      <p-paginator [rows]="itemPerPage" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
      <div class="player-list">
        <div class="player-card" *ngFor="let player of pagedPlayers">
          <p-card>
            <div class="row">
              <div class="col-md-3">
                <i class="pi pi-user player-icon"></i>
              </div>
              <div class="col-md-4">
                <p><strong>{{ player.name }}</strong></p>
                <p><strong>Height</strong> {{ player.height | number:'1.0-2' }}</p>
                <p><strong>Body Mass</strong> {{ player.weight | number:'1.0-2' }}</p>
              </div>
              <div class="col-md-5">
                <p-chart type="doughnut" [data]="player.data" [options]="options"></p-chart>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6 drop-column" pDroppable="attr" (onDrop)="drop($event)">
        <div *ngFor="let attr of selectedAttributes"
          class="attribute-card-container"
          pDraggable="attr"
          (onDragStart)="dragStart($event,car)"
          (onDragEnd)="dragEnd($event)">
          <p-card>
            {{ attr }}
            <div class="order-btns">
              <button pButton type="button" label="/\" class="ui-button-raised ui-button-secondary" (click)="reorder(attr,-1)"></button>
              <br>
              <button pButton type="button" label="\/" class="ui-button-raised ui-button-secondary" (click)="reorder(attr,1)"></button>
            </div>
          </p-card>
        </div>
    </div> -->
  </div>
</div>

