:host ::ng-deep {
  // p-card
  .ui-card {
    //background-color: #4dab23;
    font-size: 25px;
    position: relative;
    border: white 1px solid;
    text-align: center;
    background-color: transparent;
    color: white;
  }

  .ui-card-body {
    padding: 15px 1em;
  }
}

.drag-column {
  border: 1px white solid;
  padding: 20px;
}

.attribute-card-container {
  padding: 20px 5px;
}

.order-btns {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
}

.find-button {
  padding: 5px 60px;
  font-size: 30px;
}
